<br />

<div class="form-wrapper">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h1>About</h1>
			<p>&quot;Gabbagul Italian&quot; is the name that we've chosen to use for the "dialect" spoken by Italian-American 
				communities in the NY/NJ area. This "dialect" is predominantly influenced by Southern Italian dialects, reflecting the origins of the majority of the Italian immigrants in the area. Many of the words are derived from Italian (with some mutations) or are English words/phrases
				that show the influence of Italian speakers in their pronunciation.</p>
			<p><b>Joochify.it</b> contains a searchable dictionary that we've compiled of a number of these slang words. Searching will give 
				you the definition and root of the word. If we do not have the corresponding slang word, we attempt to create one for you.</p>
		</div>
	</div>
</div>
	
	<br />
	



<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		
		<%= image_tag "joochify_necklace.png"%>
		
	</div>
</div>




