<br />

<div class="form-wrapper">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<%= form_for @parola, url: parola_search_url, remote: true, html: { role: "form", class: "form-horizontal"} do |f| %>

						<h1>Joochify. <small>Convert your ordinary vernacular to Jooch-speak.</small></h1>

						<br />

						<div class="row">
							<div class="col-md-10 col-xs-12">
									<%= f.text_field :input, placeholder: "Enter a word to joochify, e.g. calamari", class: "input-lg form-control" %>
							</div>
							<div class="col-md-2 col-xs-12 ">
								<%= f.submit "Joochify it!", class: "btn btn-danger btn-lg", id: "joochify-button" %>
							</div>
						</div>


			<% end %>
		
		</div>
	</div>
	
	<br />
	
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1" id="search-result">
			<input type="text" class="form-control input-lg" id="search-result-input" placeholder="And you will get your word, e.g. galamad">
		</div>
	</div>
	
	
</div>


<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		
		<%= image_tag "joochify_necklace.png"%>
		
	</div>
</div>




