/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


#search-result{
	min-height:30px;
}

.col-md-2 #joochify-button{ margin-left: -30px; }

#content{ background: rgba(255, 255, 255, 0.9)}

#search_result_content{ background: white; }

.placeholder{ color: #999999; opacity: 1;}

.col-xs-12 #search_result_content{ min-height: 30px; padding: 5px 10px; border-radius: 3px; box-shadow: #bbb 0px 1px 1px 0px inset;}
