// import the CSS framework
@import "bootstrap";

body { background: #c8c8c8 url("/assets/tweed.png") repeat; }

main{ background: transparent !important; }


.form-control[disabled]{background-color: #ffffff; color: black; opacity: none;}

.form-wrapper{ 
	background-color: rgba(240, 30, 30, 0.6);
	padding:10px;
	margin:10px;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }


main {
  @extend .container;
  padding-bottom: 60px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }


.h1 small, .h1 .small, h1 small{
	color: #eeeeee;
	text-shadow: none;
	font-size: 62%;
}

h5 a, h5.a { color: white !important }

#content li{ font-size:15px; padding-bottom:5px; }
#mobile-content li{ padding-bottom:5px; }

#mobile-content h1, #mobile h1{
	font-size: 28px;
}

#mobile-content .h1 small, #mobile-content .h1 .small, #mobile-content h1 small,
#mobile .h1 small, #mobile .h1 .small, #mobile h1 small{
	font-size: 65%;
}

#mobile-content h1, #content h1{
	color: rgb(240, 30, 30);
}

#footer p{
	color: white;
}
